.content {
  padding-top: 40px;
}

.nomOnglet {
  display: inline-block;
  width: 200px;
  height: 30px;
  padding: 10px;
  margin-bottom: 9px;
}

.btnPrimary {
  margin-left: 5px;
  margin-bottom: 4px;
  padding: 2px 12px;
  text-align: center;
  vertical-align: middle;
}

.faPdf {
  font-size: 1.5em;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
}

.detailsCours {
  margin-top: 40px;
}

.chap {
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.scroll {
  overflow-y: scroll;
  height: 13em;
  resize: vertical;
  max-height: 31em;
}
